    /*******************design til header**********/

    .header {
        font-family: 'Oswald', sans-serif;
    }

    /*******************design til header slut**********/

    /*******************design til om **********/

    #om h1 {
        font-family: 'Oswald', sans-serif;
    }

    #om p {
        font-family: 'Open Sans Condensed', sans-serif;
        border-top: 1px solid black;
    }

    /*******************design til om slut **********/

    /*******************design til vores hold **********/

    #vores_hold {
        background-color: #40648C;
    }

    #vores_hold h1 {
        font-family: 'Oswald', sans-serif;
        color: white;
    }

    #vores_hold p {
        font-family: 'Open Sans Condensed', sans-serif;
        color: white;
    }

    /*******************design til vores hold slut **********/

    /*************** sponsorer***************/

    #sponsorer h1 {
        font-family: 'Oswald', sans-serif;
        color: white;
    }

    #sponsorer p {
        font-family: 'Open Sans Condensed', sans-serif;
        color: white;
    }

    #sponsorer {
        background-color: #40648C;
    }

    /*************** sponsorer slut***************/

    /*************** design til login***************/

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 7px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }

    input[type=submit] {
        background-color: #40648C;
        color: white;
        padding: 2%;
        border: solid;
        border-color: #E8E8E8;
        border-radius: 45%;
        cursor: pointer;
    }

    #login h1 {
        font-family: 'Oswald', sans-serif;
        color: white;
    }

    #login b {
        font-family: 'Oswald', sans-serif;
        color: white;
    }

    /*************** design til login slut***************/

    /********* når man holder mus over knappen send *********/

    input[type=submit]:hover {
        background-color: #033C72;
    }

    /********* når man holder mus over knappen send slut *********/

    /*********** bagrunden *********/

    .sectionwrapper {
        border-radius: 5px;
        background-color: #40648C;
        padding: 20px;
    }

    /*********** bagrunden slut *********/
