.sectionwrapper {
    margin: 75px;
    border-radius: 5px;
    padding: 20px;
}

/*******************HEADER START**********/

.header {
    padding: 1em;
    position: absolute;
    text-align: right;
    width: 95vw;
    height: 7.5vw;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 100%);
}


header nav a:hover {

    color: #025aa6;
    text-decoration: underline;
}


header nav a {
    text-decoration: none;
    color: black;
    padding-right: 4px;
    display: block;
}

header nav {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    margin: 0 5vw 0 0;
}

/*******************HEADER SLUT**********/

/*******************forside start**********/

#forside {
    background-image: url(img/mobiltest.jpg);
    width: 100vw;
    height: 130vw;

    background-repeat: no-repeat;
    background-size: contain;
    ;
}


@media screen and (min-width: 680px) and (orientation: landscape) {
    #forside {
        background-image: url(img/test4.jpg);
        height: 56vw;
    }
}


#forside .logo {
    height: 22vw;
    width: 25vw;
}




@media screen and (min-width: 627px) and (orientation: landscape) {
    #splash {
        background-image: url(img/mobiltest.jpg);
        height: 56vw;
        width: 100vw;
    }
}



@media screen and (min-width: 680px) {
    header nav a {
        display: inline-block;
    }
}

.lni {

    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 20px;
}



#forside .splash {
    height: 50vw;
    width: 100vw;
}



/*******************forside slut**********/

/****************** OM LNI START**********/

#om h1 {
    font-family: 'Oswald', sans-serif;
}

#om p {
    font-family: 'Open Sans Condensed', sans-serif;
}

#om B {
    font-family: 'Oswald', sans-serif;
}

#om hr {
    border-top: 3px solid black;
    width: 40vw;
}

#om h3 {
    font-family: 'Dancing Script', cursive;
}

#om .sectionwrapper {
    text-align: center;
    border: 1px black solid;
    background-color: white;
}

/****************** OM LNI SLUT**********/

/****************** VORES HOLD START**********/

#vores_hold .sectionwrapper {
    text-align: center;
}

#vores_hold .content_bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 400px;
    flex-grow: 1;
}

.img_hold {
    height: 15vw;
    width: 15vw;
    border: 6px black solid;
    border-radius: 150px;
    margin: 0 35px
}

.img_hold:hover {
    border-color: yellowgreen;
}

#vores_hold h3 {
    text-align: center;
    font-family: oswald;
    color: white;
}

#vores_hold {
    background-color: #40648C;
}

#vores_hold h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

#vores_hold p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}


/****************** VORES HOLD SLUT**********/

/****************** SIDSTE NYT START**********/

#sidste_nyt h1 {
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    text-align: center;
}



#sidste_nyt li {
    font-family: 'Open Sans Condensed', sans-serif;
}

#sidste_nyt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 400px;
    flex-grow: 1;
    margin: 20px auto;
}

#sidste_nyt .column {
    margin: 20px 100px;
}

#sidste_nyt hr {
    border-top: 3px solid black;
    width: 40vw;
}

#sidste_nyt .video {
    width: 50vw;
    height: 30vw;
}

/****************** SIDSTE NYT SLUT**********/

/****************** KONTAKT OS START**********/

#kontakt .content_mid {
    padding: 0 10px;
}


#kontakt {
    background-color: #40648C;
}

#kontakt .content_bot {
    text-align: center;
}

#kontakt img {
    margin: 0 25px;
    border-radius: 30px;
}

#kontakt h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
}

#kontakt .content_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#kontakt .column {
    width: 20vw;
    padding: 0 10px;
    flex-grow: 1;
}

input[type=submit]:hover {
    background-color: #033C72;
}



/****************** KONTAKT OS SLUT**********/

/****************** LOGIN START**********/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #40648C;
    color: white;
    padding: 2%;
    border: solid;
    border-color: #E8E8E8;
    border-radius: 45%;
    cursor: pointer;
}


#login hr {
    border-top: 3px solid white;
    width: 40vw;
}


#login {
    background-image: url(img/piger.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#subject {
    width: 100%;
    height: 20vw;
}

#login b {
    font-family: 'Oswald', sans-serif;
    color: white;
}

#login h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#login .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#login .column {
    background-color: rgba(64, 100, 140, 0.7);
    margin: 5px 5px;
    padding: 25px 25px 55px 25px;
}
#login .column1 {
    background-color: rgba(64, 100, 140, 0.7);
    margin: 5px 5px;
    padding: 20px 17px 50px 10px;
}

#login h2 {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

#login .login_knap {
    font-family: 'Oswald', sans-serif;
    color: black;
}

#login .kodeord {
    border-radius: 3px;
    border: 5px;
    height: 18px;
}


/****************** LOGIN SLUT**********/

/*************** SPONSORER START***************/

#sponsorer .sectionwrapper {
    text-align: center;
}

#sponsorer h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

#sponsorer p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

#sponsorer {
    background-color: #40648C;
    padding: 5px 0;
}

/*************** SPONSORER SLUT***************/

/*********** FOOTER START*********/

footer {
    text-align: center;
    font-family: 'Open Sans Condensed';
    margin: 10px
}


/*********** FOOTER SLUT *********/

/**
HTML!!!!

<h1 class="lni">Lille Næstved Idrætsforening</h1><!-->
             <!-->
        <div id="logo">
            <img src="logo.png" alt="logo">
        </div>

**/
